body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    z-index: 4;
    width: 78%;
    height: 10%;
    position: absolute;
    font-size: 64px;
    top: 6%;
    left: 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    padding: 10px 0px;
    color: white;
    width: 100%;
    height: auto;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #272727;
}

.footer-divider {
    width: 100%;
    height: 100px;
}

.first-footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.footer-item {
    margin: 10px 8px;
}

.second-footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.content-input-container {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-container {
    display: flex;
}


.input-field {
    width: 100%;
    color: #C2C2C2;
    border: none;
    outline: none;
    background-color: whitesmoke;
    font-size: 16px;
}

.footer-input-field {
    width: 100%;
    color: #C2C2C2;
    border: none;
    outline: none;
    background-color: #272727;
    font-size: 16px;
}

.send {
    width: 31px;
    height: 15px;
}

.hint-text {
    align-self: flex-start;
    position: relative;
    top: -50%;
    left: 0%;
    font-size: 14px;
    color: #999;
    pointer-events: none;
}


.footer-hint-text {
    align-self: flex-start;
    position: relative;
    top: -50%;
    left: 0%;
    font-size: 14px;
    color: #999;
    pointer-events: none;
}

.input-field:focus+.footer-hint-text {
    display: none;
}

.bottom-logo {
    height: 53px;
    width: 258px;
    background-image: url(img/moon_river_white.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.info-item,
.info-item-value {
    font-size: 14px;
    font-weight: bold;
}

.social-media-image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.markets-image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media-image-container img {
    width: 35px;
    height: auto;
}

.markets-image-container img {
    width: 103px;
    height: 35px;
}

.last-section {
    position: relative;
    height: auto;
    width: 105%;
    font-size: 18px;
    background-color: #272727;
    display: flex;
    flex-wrap: wrap;
}

.mobile-menu {
    display: none;
}

.something {

}

.last-section div:nth-child(1):not(.centered-content):not(.input-container):not(.content-input-container):not(.last-section div:nth-child(2)):not(.centered-content):not(.something) {
    height: 640px;
    width: 710px;
    flex-shrink: 0;
    background-image: url(img/green_girl.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.last-section div:nth-child(2) {
    background-image: none;
    flex: 1;
    height: 640px;
    background-color: whitesmoke;
}

.centered-content {
    position: relative;
    top: 45%;
    margin: 20px;
}

.centered-content-location {
    color: white;
    background-image: none;
    position: relative;
    top: 25%;
    left: 15%;
}

.centered-content-location p:nth-child(1) {
    font-weight: bold;
    font-size: 48px;
}

.card {
    padding-top: 14px;
    display: flex;
    background-color: #C2C2C2;
    width: 400px;
    height: 400px;
    align-items: center;
    flex-direction: column;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-description {
    font-size: 16px;
}

.things-block {
    margin: 10px auto;
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.small-items-container {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
}

.item:nth-child(1) {
    height: 820px;
    width: 600px;
    background-image: url(img/item_5.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
    margin-bottom: 20px;
}

.goods-description {
    margin-top: 10px;
    background-image: none;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.social-section-with-slider {
    position: static;
    width: 105%;
    height: 886px;
    background-color: #272727;
    color: white;
    font-size: 48px;
    display: flex;
    flex-direction: column;
}

.social-section-header {
    position: relative;
    left: 11%;
}

.social-section-footer {
    margin-top: 80px;
    position: relative;
    left: 11%;
    display: flex;
    justify-content: space-between;
}

.slider {
    position: relative;
    right: 22%;
    width: 335px;
    height: 29px;
}

.images-slider {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.highlighted-block {
    position: absolute;
    left: 23%;
    top: 43%;
    color: #272727;
    display: block;
}

.main-title {
    position: static;
    font-size: 48px;
    color: #272727;
    white-space: nowrap;
}

.line {
    position: static;
    height: 3px;
    width: 150px;
    background-color: #272727;
    background-image: url(img/line_130.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.action-to-do {
    margin-top: 20px;
    position: static;
    font-size: 18px;
    color: #272727;
}

.logo {
    height: 53px;
    width: 258px;
    background-image: url(img/moon_river_main_section.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.header-container {
    top: 0%;
    right: 0%;
    height: 20px;
    width: 20%;
    display: flex;
    position: relative;
}

.main-offer {
    top: 85%;
    font-size: 18px;
    position: absolute;
    right: 0;
    text-align: right;
    margin-right: 11%;
}

.main-offer span:nth-child(1) {
    color: white;
}

.main-offer span:nth-child(2) {
    color: #C2C2C2;
}

.main-offer span:nth-child(3) {
    color: #EFC58B;
    font-style: italic;
}

.header-container div:nth-child(1) {
    height: 100%;
    width: 18%;
    background-image: url(img/nav_like.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.header-container div:nth-child(2) {
    height: 100%;
    width: 18%;
    background-image: url(img/nav_profile.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5%;
}

.header-container div:nth-child(3) {
    height: 100%;
    width: 18%;
    background-image: url(img/nav_groceries.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5%;
}

.header-container div:nth-child(4) {
    height: 100%;
    width: 18%;
    background-image: url(img/nav_expand_more.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
}

.preview {
    display: flex;
    width: 100%;
    height: 110vh;
    position: relative;
}

.preview .preview-back:nth-child(1) {
    background-color: white;
    width: 60%;
    height: 100%;
    position: relative;
}

.preview .preview-back:nth-child(2) {
    background-color: #272727;
    width: 40%;
    height: 100%;
}

.preview .preview-back:nth-child(3) {
    background-image: url(img/colco.png);
    width: 322px;
    height: 170px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: 44%;
    top: 50%;
}

main {
    height: auto;
    width: 100%;
}

.male-female-block {
    background-color: #272727;
    height: 587px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sex-section-text {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
    position: relative;
}

.sex-line {
    position: absolute;
    transform: translate(-50%, 0%);

    height: 1px;
    width: 150px;
    background-repeat: no-repeat;
}

.male-female-block div:nth-child(1):not(.sex-section-text) {
    height: 98%;
    width: 49.5%;
    background-image: url(img/for_man.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.male-female-block div:nth-child(2):not(.sex-section-text) {
    height: 98%;
    width: 49.5%;
    background-image: url(img/for_women.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.location {
    position: static;
    background-color: #272727;
    height: 614px;
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.location div:nth-child(1) {
    height: 604px;
    width: 49.5%;
    background-repeat: no-repeat;
    background-size: cover;
}

.location div:nth-child(2) {
    height: 604px;
    width: 49.5%;
    background-image: url(img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.send {
    position: relative;
    margin-top: 20px;
}

@media (min-width: 721px) {
    .preview .preview-back:nth-child(3) {
        background-image: url(img/colco.png);
        width: 322px;
        height: 170px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        left: 44%;
        top: 50%;
        transform: translate(0%, -50%);
    }
}

@media (min-width: 1440px) {
    .preview .preview-back:nth-child(3) {
        background-image: url(img/colco.png);
        width: 322px;
        height: 170px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        left: 50%;
        top: 50%;
        transform: translate(0%, -50%);
    }
}

@media (max-width:320px) {
    .footer-hint-text {
        top: -20%;
        left: 15%;
    }

    .last-section {
        display: flex;
        flex-direction: column;
    }

    .hamburger-item {
        margin-top: 5px;
    }

    .header-container {
        position: relative;
    }

    .nav-expand-more {
        z-index: 3;
        background-image: url(img/Back.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 18%;
    }

    .mobile-menu {
        font-size: 15px;
        color: white;
        display: none;
        position: absolute;
        height: auto;
        top: 0%;
        left: 0;
        width: 100%;
        background-color: #272727;
        padding: 20px;
    }

    .mobile-menu.open {
        z-index: 2;
        display: block;
    }

    .social-section-with-slider {
        margin-top: -10px;
        height: auto;
    }

    .social-section-header {
        font-size: 20px;
        margin-bottom: -12px;
    }

    .social-section-footer {
        margin-top: -10px;
        left: 30%;
        display: flex;
        gap: 15px;
        flex-direction: column-reverse;
    }

    footer {
        height: auto;
        font-size: 14px;
    }

    .footer-divider {
        width: 100%;
        height: 10px;
    }

    .first-footer-container {
        position: static;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
    }

    .footer-item {
        margin: 0 0;
    }

    .second-footer-container {
        position: static;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
    }

    main {
        height: auto;
        width: 100%;
    }

    .main-offer span:nth-child(1) {
        color: #272727;
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        left: 0;
        height: 70px;
    }

    body {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .preview {
        display: flex;
        width: 100%;
        height: 490px;
        flex-direction: column;
    }

    .preview .preview-back:nth-child(1) {
        background-color: #272727;
        width: 100%;
        height: 300px;
        align-items: center;
    }

    .preview .preview-back:nth-child(2) {
        background-color: white;
        width: 100%;
        height: 190px;
    }

    .preview .preview-back:nth-child(3) {
        background-image: url(img/colco.png);
        width: 100%;
        height: 170px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        top: 41%;
        left: 0;
    }

    .logo {
        height: 53px;
        width: 258px;
        background-image: url(img/moon_river_white.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    .header-container {
        height: 20px;
        width: 51%;
        display: flex;
        position: static;
        margin-left: 40%;
    }

    .header-container div:nth-child(1) {
        height: 100%;
        width: 24%;
        background-image: url(img/nav_like.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .header-container div:nth-child(2) {
        height: 100%;
        width: 24%;
        background-image: url(img/nav_profile.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 3%;
    }

    .header-container div:nth-child(3) {
        height: 100%;
        width: 24%;
        background-image: url(img/nav_groceries.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 3%;
    }

    .header-container div:nth-child(4) {
        height: 100%;
        width: 24%;
        background-image: url(img/nav_expand_more.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: static;
    }

    .highlighted-block {
        position: static;
        margin-top: 30%;
        text-align: center;
    }

    .line {
        margin: 0 auto;
        height: 3px;
        width: 150px;
        background-image: url(img/line_130.png);
        background-repeat: no-repeat;
    }

    .centered-content-location {
        color: white;
        background-image: none;
        position: relative;
        top: 20%;
        left: 5%;
    }

    .main-title {
        font-size: 32px;
        color: white;
    }

    .action-to-do {
        margin-top: 5%;
        position: static;
        font-size: 18px;
        color: white;
    }

    .male-female-block {
        background-color: #272727;
        padding-top: 10px;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }


    .male-female-block div:nth-child(1):not(.sex-section-text) {
        height: 246px;
        width: 99%;
        background-image: url(img/for_man.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .male-female-block div:nth-child(2):not(.sex-section-text) {
        height: 246px;
        width: 99%;
        background-image: url(img/for_women.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .location {
        background-color: #272727;
        height: 79vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .location div:nth-child(1) {
        height: 98%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .location div:nth-child(2) {
        height: 98%;
        width: 100%;
        background-image: url(img/map.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .item:nth-child(1) {
        height: 414px;
        width: 100%;
        background-image: url(img/item_5.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: start center;
    }

    .item:nth-child(2),
    .item:nth-child(3) {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .item:nth-child(2) div {
        height: 50%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

    .item:nth-child(2) div:nth-child(1) {
        background-image: url(img/item_1.png);
    }

    .item:nth-child(2) div:nth-child(2) {
        background-image: url(img/item_2.png);
    }

    .item:nth-child(3) div {
        height: 50%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

    .item:nth-child(3) div:nth-child(1) {
        background-image: url(img/item_3.png);
    }

    .item:nth-child(3) div:nth-child(2) {
        background-image: url(img/item_4.png);
    }

    .last-section {
        position: static;
        width: 100%;
        height: auto;
        font-size: 18px;
        background-color: #272727;
        color: #272727;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-size: cover;
    }

    .last-section div:nth-child(1):not(.centered-content):not(.input-container):not(.content-input-container):not(.last-section div:nth-child(2)):not(.something) {
        height: 41%;
        width: 100%;
        position: relative;
        background-image: url(img/green_girl.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .last-section div:nth-child(2) {
        background-image: none;
        width: 100%;
        height: 25%;
        background-color: whitesmoke;
    }

    .sex-section-text {
        font-size: 18px;
    }

    .sex-line {
        width: 100px;
    }

    .things-block {
        place-items: center;
        display: grid;
        margin-top: 10px;
        margin-bottom: 10px;
        height: auto;
        width: 100%;
        background-color: white;
        grid-template-columns: 1fr;
    }

    .small-items-container {
        margin-left: 0px;
        grid-template-columns: 1fr;
    }

    .card {
        padding-top: 14px;
        display: flex;
        background-color: #C2C2C2;
        width: 100%;
        box-sizing: content-box;
        margin: 0 auto;
        padding-bottom: 12px;
    }
}

@media (min-width:321px) and (max-width: 719px) {
    main {
        height: auto;
        width: 100%;
    }

    header {
        width: 78%;
        height: 6%;
        position: absolute;
        font-size: 64px;
        top: 6%;
        left: 11%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        height: 53px;
        width: 258px;
        background-image: url(img/moon_river_main_section.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .header-container {
        height: 20px;
        width: 30%;
        display: flex;
        position: relative;
    }

    .main-offer {
        top: 85%;
        font-size: 18px;
        position: absolute;
        right: 0;
        text-align: right;
        margin-right: 7%;
    }

    .main-offer span:nth-child(1) {
        color: white;
    }

    .main-offer span:nth-child(2) {
        color: #C2C2C2;
    }

    .main-offer span:nth-child(3) {
        color: #EFC58B;
        font-style: italic;
    }

    .header-container div:nth-child(1) {
        height: 100%;
        width: 18%;
        background-image: url(img/nav_like.png);
        background-repeat: no-repeat;
    }

    .header-container div:nth-child(2) {
        height: 100%;
        width: 18%;
        background-image: url(img/nav_profile.png);
        background-repeat: no-repeat;
        margin-left: 3%;
    }

    .header-container div:nth-child(3) {
        height: 100%;
        width: 18%;
        background-image: url(img/nav_groceries.png);
        background-repeat: no-repeat;
        margin-left: 3%;
    }

    .header-container div:nth-child(4) {
        height: 100%;
        width: 18%;
        background-image: url(img/nav_expand_more.png);
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
    }

    .preview .preview-back:nth-child(3) {
        background-image: url(img/colco.png);
        width: 44%;
        height: 32%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        left: 50%;
        top: 40%;
    }

    .male-female-block {
        background-color: #272727;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .male-female-block div:nth-child(1):not(.sex-section-text) {
        height: 587px;
        width: 100%;
        background-image: url(img/for_man.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .male-female-block div:nth-child(2):not(.sex-section-text) {
        height: 587px;
        width: 100%;
        background-image: url(img/for_women.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .centered-content {
        position: relative;
        height: 576px;
        top: 25%;
        left: 30%;
        margin: 20px;
    }

    .location {
        position: static;
        background-color: #272727;
        height: 1208px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .location div:nth-child(1) {
        height: 98%;
        width: 100%;
    }

    .location div:nth-child(2) {
        position: static;
        height: 98%;
        width: 100%;
        background-image: url(img/map.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .things-block {
        place-items: center;
        display: grid;
        margin-top: 10px;
        margin-bottom: 10px;
        height: auto;
        width: 100%;
        background-color: white;
        grid-template-columns: 1fr;
    }

    .small-items-container {
        grid-template-columns: 1fr;
    }

.footer {
    font-size: 16px;
}

    .footer-item {
        margin: 10px 8px;
    }

    .send {
        margin-left: 60px;
    }

    .bottom-logo {}

    .social-section-with-slider {
        position: static;
        width: 105%;
        height: 780px;
        background-color: #272727;
        color: white;
        font-size: 48px;
        display: flex;
        flex-direction: column;
    }

    .social-section-footer {
        margin-top: 80px;
    }
}